includeConfig 'VERSION'

manifest {
    homePage = 'https://github.com/ribosomeprofiling/riboflow'
    mainScript = 'RIBOflow.groovy'
}
process.container = "hakanozadam/riboflow:latest"
process.shell = ['/bin/bash', '-uexo','pipefail']

// Uncomment this to disable caching in work/ folder.
// process.cache = false


profiles {

    standard {
        includeConfig './configs/local.config'
    }

    stampede_local {
        includeConfig './configs/stampede_local.config'
    }
    
    docker_local {
        includeConfig './configs/docker_local.config'
    }

    singularity_cluster {
        includeConfig './configs/singularity_cluster.config'	
    }

}

timeline {
    enabled = true
    file = "./nextflow_logs/timeline.html"
}

trace {
    enabled = true
    file = "./nextflow_logs/trace.txt"
}

report {
    enabled = true
    file = "./nextflow_logs/report.html"
}
