
// Default configuration for running the pipeline on a local machine


process {
    // if the process name is not listed separately below
    // the following settings are used
    executor='local'
    cpus = 1
    maxRetries = 1
    errorStrategy = 'retry'

    cpus = 1
    
    // Override the following defaults 
    // by specifying the process name

    withName: quality_filter{
        cpus = 4
    }
    
    withName: clip{
        cpus = 4
    }
    
    withName: filter{
        cpus = 4
    }
    
    withName: transcriptome_alignment{
        cpus = 4
    }
    
    withName: quality_filter{
        cpus = 4 
    }
    
    withName: genome_alignment{
        cpus = 4
    }    

    withName: create_ribo{
        cpus = 4 
    }
    
    withName: post_genome_alignment{
        cpus = 4 
    }

}


// Total number of CPUs reserved for nextflow
executor {
    cpus = 4
}


docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
    temp = 'auto'
}
